.error {
	color: #c53434;
	padding: 1rem;
	border: 1px solid #c53434;
	background-color: #eaafaf;
	border-radius: 3px;
}
.btnRow {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.taskDetail {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.header {
	cursor: pointer;
}
